<!doctype html>
    <head>
        <link href="/css/reset.css" type="text/css" rel="stylesheet">
        <link href="/css/experiment.css" type="text/css" rel="stylesheet">        
        <link href="/css/finish.css" type="text/css" rel="stylesheet">
        <title>You did it!</title>
    </head>
    <body>
        <div class='mask'>
            <div class='block'>
                <h1>Hooray, you did it! <span class="mini"> ...for science!</span></h1>
                <h2>The cake is not a lie.</h2>
            </div>

            <div class='block'>
                <img src="/img/Portal_Cake.png" height="200" width="200">
            </div>

            <br class='clearboth'>

            <p>I have one last favor to ask you. Namely, it is imperative for my research that
                I recruit as many participants as I can possibly reach, and since I'm researching team
                cognition, it is very important that I try and reach as many of your teammates as possible. 
                For this reason, I'd kindly ask you to forward this study to your teammates 
                and to encourage them to participate. Your data is already invaluable, but it would make
                my year if even just one of your teammates participated!
            </p>
            
            <p>If you have any questions about the study or would like to receive some information about the results
                when I will have analysed the data, please leave a comment with your e-mail address below.
            </p>

            <form action="MAILTO:tuuli.pollanen@gmail.com" method="post" enctype="text/plain">
                Name (optional):<br>
                <input type="text" name="name" value="your name"><br>
                E-mail:<br>
                <input type="text" name="mail" value="your email"><br>
                Message: <br>
                <textarea></textarea>
                <br>
                <input type="submit" value="Send" class="button">
            </form>
        </div>
    </body>
</html>