<!doctype html>
    <head>
        <link href="/css/reset.css" type="text/css" rel="stylesheet">
        <link href="/css/experiment.css" type="text/css" rel="stylesheet">        
        <link href="/css/finish.css" type="text/css" rel="stylesheet">
        <title>You did it!</title>
        <script src="scripts/error_check.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    </head>
    <body>
        <div class='mask'>
            <div class='block'>
                <h1>Hooray, you did it! <span class="mini"> ...for science!</span></h1>
                <h2>The cake is not a lie.</h2>
            </div>

            <div class='block'>
                <img src="/img/Portal_Cake.png" height="200" width="200">
            </div>

            <br class='clearboth'>

            <p>I have one last favor to ask you. Namely, it is imperative for my research that
                I recruit as many participants as I can possibly reach, and since I'm researching team
                cognition, it is very important that I try and reach as many of your teammates as possible. 
                For this reason, I'd kindly ask you to forward this study to your teammates 
                and to encourage them to participate. Your data is already invaluable, but it would make
                my year if even just one of your teammates participated!
            </p>
            
            <p>If you have any questions or comments regarding the study, please leave a comment with your e-mail address below, so I can get back to you.</p>

            <form id = "finish" action="/thank_you" method="post">
                <input type="hidden" name="userId" value="<%= userId %>"/>

                E-mail:<br>
                <input type="text" name="mail" id = "email"><br>
                Message: <br>
                <textarea name="message"></textarea>

                <p>Would you like to see the results once the data has been analysed? Note that if you do, you will have to supply your e-mail address above.</p>
            
                <input type="radio" name="wants_results" id="results_yes" value="true">
                <label for="results_yes">Yes, please.</label><br>
                <input type="radio" name="wants_results" id="results_no" value="false" checked>
                <label for="results_no">No, thanks.</label><br>

                <p>After I finish, I'd like to set up a web page for the project where the anonymized data and the source code for the experiments can be downloaded. As a part of the web page, I'd like to set up a short thank-you with a list of the people who participated. Would you like your summoner name published on this list?</p>

                <input type="radio" name="thank_you" id="list_yes" value="true">
                <label for="list_yes">Yes, bring on the internet fame!</label><br>
                <input type="radio" name="thank_you" id="list_no" value="false" checked>
                <label for="list_no">No, thanks, I prefer to remain incognito.</label>
                <br>

                <div id = "error_container">
                    <div name = "mail_error", id = "mail_error", class = "error"></div>
                    <div name = "message", id = "message", class = "error"></div>
                </div>

                <input type="submit" value="Send" class="button">

            </form>
        </div>
    </body>
    <script>

    function isEmail(email) {
        var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        return regex.test(email);
    }

    error_check();
    var userId = "<%= userId%>";

        $( "#finish" ).submit(function( event ) {
            event.preventDefault();
            $(".error").html("");
            $.ajax({
                type: "POST",
                url: "/finish-data",
                data: $("#finish").serialize() // serializes the form's elements.
                }).done(function() {
                    window.location.href = "thank_you"; 
                }).fail(function(jqXHR, textStatus, errorThrown){
                    var data = jqXHR.responseJSON;   
                    console.log(data);        
                    if (data.error === "duplicate entry") {
                        window.location.href = "/?error=duplicateid";
                    }
                    else {
                        for (var i = 0; i < data.error.length; i++) {
                            console.log(data.error[i]);
                            console.log(data.error[i].path, "  ", data.error[i].message);
                            $("[class='error'][name = " + data.error[i].path + "]").html("<p>"+data.error[i].message+"</p>");   
                        }
                    }
                });
            });
        </script>
</html>