<!doctype html>
<html>

    <head>
        <title>the Flanker task</title>
        <!-- Load jQuery -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- Load the jspsych library and plugins -->
        <script src="scripts/jspsych.js"></script>
        <script src="scripts/plugins/jspsych-text.js"></script>
        <script src="scripts/plugins/jspsych-single-stim.js"></script>
        <script src="scripts/plugins/jspsych-categorize.js"></script>
        <!-- Load the stylesheet -->
        <link href="css/reset.css" type="text/css" rel="stylesheet"></link>
        <link href="css/experiment.css" type="text/css" rel="stylesheet"></link>
        <link href="css/flanker.css" type="text/css" rel="stylesheet"></link>
    </head>

    <body>
        <div id="jspsych_target"></div>
    </body>

    <script>

        var flanker_instructions = "<div id='instructions'><h1>Well done!</h1><p class=centered>... and welcome to the first cognitive task!"+
            " In the following section, you will see a series of images that look similar to this:</p><p class='centered'>" +
            "<img src='img/incongruent_right.gif'></p>"+
            "<p> Your task is to press the arrow key that corresponds to the direction that the middle arrow while trying to ignore the arrows on the sides. " +
            "For example, in this case you would press the right arrow key.</p>"+
            "<p>You will first go through a short trial where you can try out the experiment, and then have another information screen when "+
            "the experiment is about to start. Try to be as fast and precise as possible!</p>" +
            "<p class='anykey'>Press any key to start when you're ready!</p>";


        var flanker_intermezzo = "<div id='instructions'><p class='centered'><strong>Great!</strong> You completed the training! The experiment will now follow.</p>" +
            "<p>Note that the images will now appear faster. Try and respond as quickly and accurately as you can. "+
            "Also notice that you won't get feedback on correct and false responses during the experiment.</p>"+
            "<p class='anykey'>Press any key to start when you're ready!</p>";

       
       var test_images = [ 
        {stimulus:"img/congruent_left.gif", data: {type: "congruent", direction: "left", correct_key: "37"}}, 
        {stimulus:"img/congruent_right.gif", data: {type: "congruent", direction: "right", correct_key: "39"}}, 
        {stimulus:"img/incongruent_left.gif", data: {type: "incongruent", direction: "left", correct_key: "37"}}, 
        {stimulus:"img/incongruent_right.gif", data: {type: "incongruent", direction: "right", correct_key: "39"}}
        ];

        var flanker_training_answers = [];
        var flanker_training_text_answers = [];
        var flanker_training_images = [];

        //gets random image from test_images array and appends to answers and text_answers arrays
        //depending on the stimulus type and data attributes
        for (var i = 0; i < 7; i++) {
            var rnd = Math.round(Math.floor(Math.random() * 3));
            var image = test_images[rnd]; //random stimulus setting from test_images
            flanker_training_images.push(image.stimulus);
            if (image.data.direction === 'left') {
                flanker_training_answers.push(37);
                flanker_training_text_answers.push("left");
            }
            else {
                flanker_training_answers.push(39);
                flanker_training_text_answers.push("right");
            }
        }

        var trial_images = jsPsych.randomization.repeat(test_images, 6, true);

        // Define experiment blocks
        var flanker_instruction_block = {
            type: "text",
            text: [flanker_instructions],
            timing_post_trial: 1000
            };

        var flanker_intermezzo_block = {
            type: "text",
            text: [flanker_intermezzo],
            timing_post_trial: 1000
        }

        var flanker_test_block = {
            type: "single-stim",
            stimuli: trial_images.stimulus,
            choices: [37, 39],
            data: trial_images.data 
            };

         var flanker_training_block = {
            type: "categorize",
            stimuli: flanker_training_images,
            key_answer: flanker_training_answers,
            text_answer: flanker_training_text_answers,
            choices: [37, 39],
            timing_post_trial: 500,
            correct_text: "<p class='correct'>Correct!</p>",
            incorrect_text: "<p class='false'>False!</p>",
            prompt: "<p class='centered'>Press the arrow key corresponding to the direction of the middle arrow.</p>"
        };


        jsPsych.init({
            display_element: $('#jspsych_target'),
            experiment_structure: [flanker_instruction_block, flanker_training_block, flanker_intermezzo_block, flanker_test_block],
            on_finish:function(data){
                /*$('#jspsych_target').append($("<pre>",{
                    html: JSON.stringify(data,undefined,2)*/
                console.log(JSON.stringify(data));
                $.ajax({
                    type: "POST",
                    url: "/flanker-data",
                    data: JSON.stringify(data),
                    contentType: "application/json"
                }).done(function() {
                    alert(1);
                   //window.location.href = "mental_rotation"; 
                });
            }

                //jsPsych.saveCSVdata("data.csv");
    
        });

    </script>
</html>