<!doctype html>
<html>
    <head>
        <link href="/css/reset.css" type="text/css" rel="stylesheet">
        <link href="/css/experiment.css" type="text/css" rel="stylesheet">        
        <link href="/css/thank_you.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div class = "mask">
            <div>
                <h1>Sorry!</h1>
                <h2>This experiment is not accessible through a mobile device.</h2>
            <div>
        </div>
    </body>
</html>