<!doctype html>
<html>

    <head>
        <title>jspsych-palmer plugin example</title>
        <!-- jQuery -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- this plugin requires the raphael.js library -->
        <script src="scripts/raphael-min.js"></script>
        <!-- jsPsych -->
        <script src="scripts/jspsych.js"></script>
        <script src="scripts/plugins/jspsych-text.js"></script>
        <script src="scripts/plugins/jspsych-palmer.js"></script>
        <link href="css/reset.css" type="text/css" rel="stylesheet"></link>
        <link href="css/experiment.css" type="text/css" rel="stylesheet"></link>
        
    </head>
    <body>
        <div id="jspsych_target"></div>
    </body>

    <script type="text/javascript">
        var userId = "<%= userId%>";
        //a function that returns a random configuration for Palmer stimuli
        var generateConfig = function() {
            var randarray = [];
                for (var i = 0; i < 20; i++) {
                    randarray[i] = Math.round(Math.random());
                }
            return [randarray];
        };

        var training_confs = [
        [0,0,1,0,1,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0],
        [0,0,1,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0],
        [0,1,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0]
        ];

        var confs = [
        [0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,1,1,0],
        [1,0,1,0,1,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0],
        [0,1,0,0,0,0,1,1,0,0,0,0,0,1,0,1,1,0,1,0],
        [0,0,1,1,1,0,0,0,0,1,0,1,0,0,1,0,1,0,0,0],
        [0,0,0,1,1,0,0,0,1,0,0,1,1,1,0,0,1,0,0,0],
        [0,1,0,0,1,0,1,0,0,1,1,0,1,0,0,0,0,1,0,1],
        [0,0,0,0,0,1,1,1,0,0,1,1,0,0,1,1,0,1,0,0],
        [0,0,1,0,1,1,0,1,0,0,0,0,0,1,0,1,0,1,1,0],
        [0,0,0,1,0,1,1,1,0,0,1,1,0,1,1,1,0,0,0,0],
        [0,0,1,0,0,1,0,1,1,1,1,0,0,1,0,0,0,0,1,1],
        [0,1,0,1,0,1,1,1,1,0,0,1,1,1,0,0,0,0,0,0],
        [1,1,1,1,0,0,0,1,0,0,0,0,0,1,1,1,0,1,0,1],
        [0,1,1,1,0,0,0,1,0,1,0,1,1,0,1,0,1,1,0,0],
        [1,0,1,0,0,0,1,0,1,0,0,1,1,1,1,0,1,0,0,1],
        [0,0,1,0,0,1,1,0,1,0,0,1,1,1,1,1,1,1,0,0], 
        [1,0,1,1,1,0,1,1,0,0,1,0,0,0,0,1,1,1,1,0],
        [0,1,1,0,1,0,0,1,0,1,1,1,1,0,0,1,1,0,0,1]
        ];

        var getConfig = function (confArray, iterator) {
            return [confArray[iterator]];
        };

        /*var stim_block1 = {
            type: 'palmer',
            configurations: [[0,1,1,0,0,0,0,1,0,0,1,0,1,1,0,0,0,0,1,0]],
            editable: false,
            timing_item: 2500
        };

        var test_block1 = {
            type: 'palmer',
            configurations: stim_block1.configurations,
            editable: true,
            show_feedback: true,
            timing_feedback: 2000,
            prompt: '<p>Create the image you just saw. Click two circles to add or remove a line between them. Click submit when you are done.</p>'
        };
        */
        //creating instructions and the instruction block
        var palmer_instructions = "<div id='instructions'><p class='centered'>In the following task, you will go through a series of images that look like this:</p><p class='centered'>" +
            "<img src='img/20_5.png'></p><p> Your task is to recall the pattern that is presented to you " +
            "for a short time, and then by clicking on the circles with your mouse to draw the lines, reproduce it on an empty template" +
            " that will be presented to you. " +
            "</p><p>You will first go through three trial images, where you can try out the experiment, and then have another information screen when "+
            "the experiment is about to start.</p>" +
            "</p><p class='anykey'>Press any key to start when you're ready!</p>";

        var palmer_intermezzo = "<div id='instructions'><p class='centered'>You completed the training! The experiment will now follow.</p><p class='centered'>" +
            "<p>Please note that the trials will become more and more difficult and you are not expected to get all of the responses correctly." +
            "</p><p class='anykey'>Press any key to start when you're ready!</p>";

        var palmer_instruction_block = {
                type: "text",
                text: [palmer_instructions],
                timing_post_trial: 2500
            };

        var palmer_intermezzo = {
                type: "text",
                text: [palmer_intermezzo],
                timing_post_trial: 2500
        };
        
        //creating stim and test blocks for training
        var trial_array = [palmer_instruction_block];

        for (var i = 0; i < training_confs.length; i++ ) {
            
            var training_stim_block = {
                type: 'palmer',
                configurations: getConfig(training_confs, i),
                editable: false,
                timing_item: 2500
            };

            var training_test_block = {
                type: 'palmer',
                configurations: training_stim_block.configurations,
                editable: true,
                show_feedback: true,
                timing_feedback: 2000,
                prompt: "<p class='centered'>Create the image you just saw. Click two circles to add or remove a line between them.</p><p class='centered'>Click submit when you are done.</p>"

            }

            trial_array.push(training_stim_block, training_test_block);

        }

        trial_array.push(palmer_intermezzo);

        //creating stim and test blocks for experiment

        for (var i = 0; i < confs.length; i++ ) {
            
            var stim_block = {
                type: 'palmer',
                configurations: getConfig(confs, i),
                editable: false,
                timing_item: 2500
            };

            var test_block = {
                type: 'palmer',
                configurations: stim_block.configurations,
                editable: true,
                show_feedback: true,
                timing_feedback: 2000,
                prompt: '<p class="centered">Create the image you just saw. Click two circles to add or remove a line between them.</p><p class="centered"> Click submit when you are done.</p>'

            }

            trial_array.push(stim_block, test_block);

        }

        // launch jspsych experiment
        jsPsych.init({
            display_element: $('#jspsych_target'),
            experiment_structure: trial_array, 
            on_finish:function(data){
                var data_object = {
                    userId: userId, 
                    data: (JSON.stringify(data))
                };
                    $.ajax({
                        type: "POST",
                        url: "/palmer-experiments-data",
                        data: JSON.stringify(data_object),
                        contentType: "application/json",
                    }).done(function() {
                        alert(1);
                        window.location.href = "finish"; 
                    });
                }
        });
    </script>

</html>