<!doctype html>
<html>
    <head>
        <link href="/css/reset.css" type="text/css" rel="stylesheet">
        <link href="/css/experiment.css" type="text/css" rel="stylesheet">        
        <link href="/css/thank_you.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div class = "mask">
            <div>
                <h1>Thank you</h1>
                <h2>for helping me do science!</h2>
            <div>
        </div>
    </body>
</html>