<!doctype html>
<html>

    <head>
        <title>Tower of London</title>
        <!-- Load jQuery -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <!-- Load the jspsych library and plugins -->
        <script src="scripts/jspsych.js"></script>
        <script src="scripts/error_check.js"></script>
        <script src="scripts/plugins/jspsych-text.js"></script>
        <script src="scripts/plugins/jspsych-categorize.js"></script>
        <script src="scripts/plugins/jspsych-single-stim.js"></script>
        <!-- Load the stylesheet -->
        <link href="css/reset.css" type="text/css" rel="stylesheet"></link>
        <link href="css/experiment.css" type="text/css" rel="stylesheet"></link>
        <link href="css/tol.css" type="text/css" rel="stylesheet"></link>
    </head>

    <body>
        <div id = "tol_container" class = "parent mask">
            <div id="stimulus_container" class = "child">
                <div id="jspsych_target" class = "content"></div>
            </div>
        </div>
    </body>

    <script>
        error_check();
        var userId = "<%= userId%>";

        var tol_stimuli = [
        "img/tolimg/AN01.png",
        "img/tolimg/AN02.png",
        "img/tolimg/AN03.png",
        "img/tolimg/AN04.png",
        "img/tolimg/AN05.png",
        "img/tolimg/AN06.png",
        "img/tolimg/AN07.png",
        "img/tolimg/AN08.png", 
        "img/tolimg/AN09.png",  
        "img/tolimg/AN10.png",  
        "img/tolimg/AN11.png",
        "img/tolimg/AN12.png",  
        "img/tolimg/AN13.png",  
        "img/tolimg/AN14.png",  
        "img/tolimg/AN15.png",  
        "img/tolimg/AN16.png",  
        "img/tolimg/AN17.png",  
        "img/tolimg/AN18.png",  
        "img/tolimg/AN19.png",  
        "img/tolimg/AN20.png",  
        "img/tolimg/AN21.png",  
        "img/tolimg/AN22.png"
        ];

        //array of correct numerical responses corresponding to the images
        var moves = [2,2,3,3,2,1,3,4,1,4,3,4,1,2,3,2,1,4,1,4,6,5];

        // Experiment Instructions

        var tol_instructions = "<div id='instructions'><h1>Well done! You've made it to the last experiment!<span class = 'centered mini'>Think about the cake you'll get in the end...  <img src = 'img/mini_cake.png' height='50' width='50' style= 'vertical-align: middle; margin: 10px'></span></h1><p class = 'centered'>In this task, you will"+
            " see a series of images that look like this:</p><img src='img/tolimg/test1.png'>"+
            "<p>Your task is to estimate how many times you would need to move a ball if you tried to get from the layout in image A to the layout in image B with as few moves as possible. Press the corresponding " +
            "key on your keyboard to give your response.</p><p class='anykey'>Press enter to start!</p>";

        var tol_intermezzo = "<div id='instructions'><p class='centered'>You completed the training! The experiment will now follow.</p><p>" +
            "<p>Please note that during the experiment you will not get feedback about whether your response was correct or false. " +
            "Try to be as fast and accurate as you can!</p>"+
            "</p><p class='anykey'>Press enter to start when you're ready!</p>";


        //Function for calculating correct keycode from the number of moves required for the stimulus.
        var correct_key = function (move) {
            if (move > 0 && move <= 9) {
               var response = move + 48;
            }
            return response;
        };

        var tol_stimuli_array = [];
        var tol_data_array = [];

        //generating the array of stimuli
        for (var i = 0; i < tol_stimuli.length; i++) {
            tol_stimuli_array.push(tol_stimuli[i]);

            tol_data_array.push({
                "moves" : moves[i],
                "correct_key": correct_key(moves[i])
                });
            }

        var tol_experiment = {'stimulus': tol_stimuli_array, 'data': tol_data_array};


        // Define experiment blocks
        var tol_instruction_block = {
                type: "text",
                text: [tol_instructions],
                timing_post_trial: 250,
                cont_key: [13]
            };

        var tol_intermezzo_block = {
                type: "text",
                text: [tol_intermezzo],
                timing_post_trial: 800,
                cont_key: [13]
            };    

        var tol_test_block = {
                type: "single-stim",
                stimuli: tol_experiment.stimulus,
                choices: [48, 49, 50, 51, 52, 53, 54, 55, 56, 57],
                moves: moves,
                data: tol_experiment.data,
                correct_key: tol_experiment.data.correct_key
            };

        var tol_training_images = ["img/tolimg/AP1.png", "img/tolimg/AP2.png", "img/tolimg/AP3.png"];
        var tol_training_answers = [49,50,51];
        var tol_training_text_answers = ['1','2','3'];

        var tol_training_block = {
            type: 'categorize',
            stimuli: tol_training_images,
            key_answer: tol_training_answers,
            text_answer: tol_training_text_answers,
            choices: [48, 49, 50, 51, 52, 53, 54, 55, 56, 57],
            correct_text: "<p class='centered correct'><br>Correct!</p>",
            incorrect_text: "<p class='centered false'><br>False!</p>",
            prompt: "How many moves would you need to get from image A to image B? To respond, press the corresponding key on your keyboard.", 
            timing_feedback_duration: 1000,
            timing_post_trial: 800
        };

        preload = tol_stimuli.concat(tol_training_images);

        function start () {
            jsPsych.init({
                display_element: $('#jspsych_target'),
                experiment_structure: [tol_instruction_block, tol_training_block, tol_intermezzo_block, tol_test_block],
                on_finish:function(data){
                    var data_object = {
                        userId: userId, 
                        data: data
                    };
                    $.ajax({
                        type: "POST",
                        url: "/tol-data",
                        data: JSON.stringify(data_object),
                        contentType: "application/json"
                    }).done(function() {
                        window.location.href = 'finish?userId='+userId; 
                    }).fail(function(jqXHR, textStatus, errorThrown){
                        var data = jqXHR.responseJSON;           
                        if (data.error === "duplicate entry") {
                            window.location.href = "/?error=duplicateid";
                        }
                    });
                }
            });
        }

        // preload images
        // call start() when loading is complete
        jsPsych.preloadImages(preload, start);
        
    </script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-55827450-1', 'auto');
        ga('send', 'pageview');
    </script>
</html>