html {
    background-image: url(../img/League-of-Legends-Dominion-Wallpaper.jpg);
    background-size: cover;
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left; 
}
body {
    background-color: transparent;
}

.mask {
    background:#7f7f7f;
    background:rgba(0,0,0,0.7);
}
