html {
	background-image: url(../img/astronaut_teemo.jpg);
 	background-size: cover;
 	color: white;
 	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left; 
}

div {
	background: transparent;
	width:50%;
	padding-bottom:5px;
	display: block;
}

#container {
	background: transparent;
	padding: 30px;
	height: 100%;
	width:100%;

}

.error {
	padding-top:10px;
	height: 15px;
	text-align: left;
	color:red;
	font-size: 0.8em;
}

p {
	margin: 0;
}

form {
	padding: 10px; 
	opacity: 0%;
	background-color: transparent;
	width: 100%;
	float:left;
}

body {
	background: transparent; 
}

.button:hover, .button:active {
	background-color: #4F3E7A
}

span {

}

.long {
	display: inline-block;
	width: 95%;}

label.short {
	display: inline-block;
	width: 340px
}

#gender {
	display: inline-block
}

select, input {
	margin-top: 8px;	
}

select {
	width: 35%	
}

form input[type=text] {
	width: 34%
}

option {
	width: 80px
}

select.short, input.short {
	width:17%
}

option.short {
	width: 16%
}

option {
	margin-bottom: 5px
}

.button {
	margin-left: 25%;
	margin-right: auto;
	margin-top: 40px

}

div {
	background-color: transparent;
}