html, body {
    height:100%;
    margin, padding: 0;
}

body {
	background: #fff; 
	font-size: 18px; 
	font-family:  'Arial','Helvetica', sans-serif; 
	line-height: 120%;

}

strong {
	font-weight: bold;
}

h1 {
	text-align:center;
	font-size: 2em;
	font-weight: bold; 
	margin: 30px;
	line-height: 130%;
}

h2 {
	text-align:center;
	font-size: 1.7em;
	font-weight: bold;
	margin: 20px;
}

p {
	margin: 10px;
	text-align: left;
	
}

.button {
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  background: #1d1e1f;
  padding: 8px 12px 8px 12px;
  border: solid #5f707a 2px;
  text-decoration: none;
  margin-top: 30px;
  margin-bottom: 50px;

}

.pinkish {
  color: #da515c
}

.button:hover, .button:focus {
  background: #a3222c;
  text-decoration: none;
}

.anykey {
	font-weight: bold;
	margin: 20px;
	text-align: center;
}

/*#jspsych_target {
	width: 100%; 
	margin: 10px; 
	margin-left: auto; 
	margin-right: auto; 
	margin-top: 50px; 
	margin-bottom: auto; 
	text-align: center; 
	padding: 15px;
}*/
#jspsych_target {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    text-align: center;
}


#instructions {
	width: 100%; 
	margin-left: auto; 
	margin-right: auto; 
	text-align: center; 
}

.centered {
	text-align: center;
	margin: 20px;
	padding: 10px;
}

.correct {
	color: #82BF40;
}

.false {
	color: #E75256;
}

.target {
	text-align: center
}

.mask {
    position:absolute;
    top:0;
    left:0;
    right:0;
    background:#7f7f7f;
    background:rgba(0,0,0,0.5);
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding-top: 50px;
    /*
    padding-bottom: 50px;*/
}

.mini {
    top-margin:5px;
    font-size: 14px;
}

.error {
    font-size: 1.5em;
    text-align: center;
    line-height: 120%;
    color: red;
}

.parent {
    height: 100%;
    display: table;

    /* optional, just for the demo */
    margin-left: auto;
    margin-right: auto;    
}
.child {
    display: table-cell;
    vertical-align: middle;

    /* optional, just for the demo */
    margin-left: auto;
    margin-right: auto;    
}
.content {
}

.jspsych-categorize-stimulus {
    vertical-align: middle
}

.jspsych-two-stim-stimulus {
    vertical-align: middle
}