html {
    background-image: url(../img/Fiddlesticks_SurprisePartySkin.jpg);
    background-size: cover;
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left; 
}

img {
    vertical-align: middle;
    margin-top: 30px;
}

body {
    background: transparent; 
    font-family:  'Arial','Helvetica', sans-serif; 
    line-height: 120%;
}

p {
    margin-top:30px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.error {
    padding-top:10px;
    height: 15px;
    text-align: left;
    color:red;
    font-size: 0.8em;
}

div {
    background-color: transparent;
}

div.block {
    text-align: center; 
    float:middle;
    display:block;

}

form {
    margin-top:30px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 14px; 
    font-family:  'Arial','Helvetica', sans-serif; 
}

form p {
    width: 100%;
    font-size: 16px;
}

input {
    margin-bottom: 10px;
}

textarea {
    width:80%;
    height:100px;
    font-size: 14px; 
    font-family:  'Arial','Helvetica', sans-serif; 
}

.clearBoth { 
    clear:both; 
}

