#flanker_container {
    text-align: center;
}

#stimulus_container {
    text-align:center;
}

.jspsych-categorize-stimulus {
	vertical-align: middle
}

body,html {
    color:white;
    background-color: #60626a;
}

.block {
  text-align: center;
}
