html, body {
    background-color: #60626a;
    color: #eeeeee;
}

p {
    padding-left: 10px;
    padding-right: 10px;
}

#grid {
    width: 50%;
    height: 400px;
    float:left;
    margin-top: 3%;
    margin-left: 3%;

}

#instructions {
    width: 40%;
    height: 400px;
    float: right;
    margin-top: 3%;
    margin-right: 3%;
    color: #eeeeee;
    padding-bottom: 2%;
}


.container {
    width: 23%;
    height: 100%;
    display: inline-block;
    background-color: #80828c;
    padding-bottom: 11%;
}

.last {
    padding-right: 5%;
}

.element {
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
    background: #1d1e1f;
    text-decoration: none;
    width: 80%;
    height: 20%;
    margin: 20%;
    padding: 0;
}

#feedback{
    font-size: 3em;
    color:  #DE626C;
    margin-top: 14%;
}


.passive {
    background-color: #a6aeb4;
    color: gray;
}

.active {
    background-color: #da515c;
    color: red;
}
