html, body {
    background-color: #60626a;
    color: #eeeeee;
}

p {
    padding-left: 20px;
    padding-right: 20px;
    bottom-padding: 20px;
}

#grid {
    width: 54%;
    height: 600px;
    float:left;
    margin-top: 3%;
    margin-left: 3%;

}

#instructions {
    width: 38%;
    height: 600px;
    float: right;
    margin-top: 3%;
    margin-right: 3%;
    color: #eeeeee;
    background:#7f7f7f;
    background:rgba(0,0,0,0.5);
}


.mask {
    height: 100%;
    padding: 0;
    width: 1400px;
    background-color: transparent;
}

.container {
    width: 23%;
    height: 600px;
    display: inline-block;
    background-color: #80828c;
}

.element {
    display: block;
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
    background: #1d1e1f;
    text-decoration: none;
    width: 78%;
    height: 17.5%;
    margin-bottom: 30px;
}

.last {
    margin-bottom: 41px;
}

.first {
    margin-top: 41px; 
}

.left {
    margin-left: 41px;
}

#container_0 {
    padding-right: 41px;
}

.right {
    margin-right: 30px;
}

#feedback{
    font-size: 2.7em;
    color:  #DE626C;
    margin-top: 14%;
}


.passive {
    background-color: #a6aeb4;
    color: gray;
}

.active {
    background-color: #da515c;
    color: red;
}
