html {
    background-color: #4EBABA;
}

#grid {
    width: 50%;
    height: 400px;
    float:left;
    margin-top: 3%;
    margin-left: 3%;

}

#instructions {
    width: 40%;
    height: 400px;
    float: right;
    margin-top: 3%;
    margin-right: 3%;
    color: white;
}


.container {
    width: 25%;
    height: 100%;
    display: inline-block;
}

.element {
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
    background: #1d1e1f;
    text-decoration: none;
    width: 80%;
    height: 20%;
    margin: 20%;
    padding: 0;
}

#feedback{
    font-size: 3em;
    color: #FFE1BA;
}


.passive {
    background-color: #ACEDED;
    color: gray;
}

.active {
    background-color: #FFAF8F;
    color: red;
}
