html {
    background-image: url(../img/multi_char_wallpaper.jpg);
    background-size: cover;
    color: white;
    background-color: #60626a;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left; 
}
body {
    background-color: transparent;
}

.mask {
    background:#7f7f7f;
    background:rgba(0,0,0,0.7);
}

.jspsych-survey-likert-question p { 
    font-size: 17px;
    padding-top: 30px;
    padding-bottom: 5px
}

.jspsych-survey-likert-sliderlabels{
    font-size: 17px;
    width: 100%;
    height: 30px;
}

.jspsych-survey-likert-text {
    text-align: left;
}

.ui-slider-handle.ui-state-default{   
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 15px;
  background: #1d1e1f;
  border: solid #5f707a 2px;
}

.ui-slider-handle:hover, .ui-slider-handle:focus {
  background: #a3222c;
}

.button {
  margin-top: 90px;
}